/* Utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.debug{
    border: 1px solid red;
}

/* universal style */

html{
    font-family: Fredoka, sans-serif;
    min-width: 1200px;
}

.container{
    width: 70%;
    margin: 40px auto;
}

main{
    width: 100%;
}

/* header style */

header{
    text-align: center;
}

header h1{
    color: #e53170;
    margin-bottom: 40px;
}

/* main style */

.row{
    width: 100%;
    margin-top: 50px;
}

.wrapper{
    float: left;
    width: calc(100% / 3);
    background-color: #0f0e17;
}

.image{
    width: 100px;
    height: 100px;
}

.image img{
    width: 100%;
}

.member-infos, .image{
    float: left;
}

.member-infos{
    color: white;
}

.member-infos a{
    text-decoration: none;
    color: #6dc9f0;
}

.member-infos > *{
    padding: 10px 0 0 10px;
}